@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* CABEÇALHO */

main {
    padding-top: 100px;
    position: relative;
}

.gradient-overlay {
    position: relative;
    z-index: 1;
}

main .gradient-overlay:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) -35%, rgb(0, 0, 0) 100%);
    height: 100%;
}

img {
    height: 60%;
    width: 100%;
}

header {
    overflow: visible;
    position: fixed;
    display: flex;
    background-color: #5b6334;
    height: 130px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Playfair Display", serif;
    top: 0;
    z-index: 1000;
}

header a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: ease-in-out .35s;
    font-size: 1.4em;
}

header a:hover {
    transform: scale(1.2);
}

.menu {
    margin-right: 10em;
}

.menu a {
    margin: 1.3em;
}


.logo img {
    display: inline-block;
    height: 90px;
    width: 90px;
}

.logo {
    margin-left: 10px;
}

.logo img {
    margin-top: 20px;
    margin-left: 20px;
}

.home {
    color: aliceblue;
    position: absolute;
    top: 35%;
    /* Ajuste a posição verticalmente conforme necessário */
    left: 20%;
    /* Ajuste a posição horizontalmente conforme necessário */
    transform: translate(-50%, -50%);
    /* Centraliza vertical e horizontalmente */
    z-index: 2;
}

.button {
    background-color: #5b6334;
    font-size: 25px;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 18px;
    width: 400px;
    color: aliceblue;
}

footer {
    width: 100%;
    height: 350px;
    background-color: #5b6334;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    font-size: 13px;
    color: aliceblue;
}

form input {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
    outline: none;
}

#ENVIAR {
    border: 1px solid #b4ba94;
    border-radius: 8px;
    width: 4em;
}

form {
    margin-right: 200px;
    font-size: 15px;
    width: 500px;
}

.box1 {
    height: 300px;
}

.linha1 {
    margin: 20px 0;
}

.linha2 {
    margin-bottom: 20px;
}

.linha3 {
    margin-left: 20px;
    align-self: flex-start;
}

.linha3 i {
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.linha {
    margin: 20px 0;
    margin-left: 100px;
}

.home h1 {
    text-align: center;
}

.home #deBaixo {
    margin-bottom: 40px;
}

.quebra {
    width: 100%;
    height: 350px;
    background-color: #5b6334;
    display: flex;
    justify-content: center;
}

.cor1 {
    background-color: #b4ba94;
    height: 280px;
    text-align: center;
    width: 70%;
    align-self: center;
    border: 1px solid transparent;
    border-radius: 30px;
    justify-content: center;
    padding: 10px;
}

.cor1 h1 {
    font-size: 60px
}

.cor1 p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.d-block {
    height: 900px;
    width: auto;
}

footer i {
    margin: 0;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 768px) {

    header {
        width: 100%;
        font-size: .4em;
    }

    .home {
        display: none;
    }

    .home .button {
        padding: 10px;
        height: 10px;
        width: 100%;
        font-size: 12px;
    }

    .quebra p {
        font-size: 10px;
    }

    .d-block {
        width: 300px;
        height: 400px;
    }

    aside {
        width: 100%;
    }

    .card {
        width: auto;
    }

    .aberto {
        width: 100%;
    }

    .fechado {
        width: 0;
    }

    .container {
        display: flex;
        width: 100vw;
    }

    footer h2 {
        font-size: 10px;
    }

    .linha {
        align-self: flex-start;
        margin-left: 10px;
    }

    form {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    button {
        padding: 6px 15px;
        font-size: 14px;
    }
}