* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* CABEÇALHO */

img {
    height: 60%;
    width: 100%;
}

header {
    overflow: visible;
    position: fixed;
    display: flex;
    background-color: #5b6334;
    height: 130px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Playfair Display", serif;
    top: 0;
    z-index: 1000;
}

header a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: ease-in-out .35s;
    font-size: 1.4em;
}

header a:hover {
    transform: scale(1.2);
}

.menu a {
    margin: 1.3em;
}


.logo img {
    display: inline-block;
    height: 90px;
    width: 90px;
}

.logo {
    margin-left: 10px;
}

.logo img {
    margin-top: 20px;
    margin-left: 20px;
}

.button {
    background-color: #5b6334;
    font-size: 25px;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 18px;
    width: 400px;
    color: aliceblue;
}

footer {
    width: 100%;
    height: 350px;
    background-color: #5b6334;
    color: aliceblue;
    display: flex;
    align-items: center;
}

footer h2 {
    font-size: 13px;
    color: aliceblue;
}


/* COMPRA */

main {
    margin-top: 130px;
}

section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 350px);
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9";
    place-items: center center;
    gap: 5em;
    margin: 0 0 5em 20em;
}

aside {
    text-align: center;
}

aside ul {
    border: 0.1px black solid;
}

aside li {
    list-style: none;
}

aside button {
    margin-top: 2em;
}

#cart {
    height: auto;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 18rem;
    border: black 2px solid;
}

i {
    margin-left: 2em;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}



/* BARRA LATERAL */

.barra-lateral {
    height: 89.5vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(230, 230, 230);
    overflow: scroll;
    transition: 0.5s;
    padding-top: 60px;
    border-left: 1px solid black;
}

.barra-lateral .conteudo-barra {
    text-align: left;
}

.barra-lateral .conteudo-barra ul {
    list-style-type: none;
    padding: 0;
}

.barra-lateral .conteudo-barra ul li {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.barra-lateral .conteudo-barra h2 {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aberto {
    margin-top: 130px;
    width: 300px;
}

.fechado {
    width: 0;
}

@media screen and (max-width: 768px) {

    header {
        width: 100%;
        font-size: .4em;
    }

    main {
        margin-top: 50px;
    }

    section {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        margin-right: 200em;
        margin-left: 3em;
    }

    aside {
        width: 100%;
    }

    .logo img {
        width: 1px;
        height: 1px;
    }

    .card {
        width: auto;
    }

   .aberto {
        width: 100%;
    }

   .fechado {
        width: 0;
    }
}

@media screen and (max-width: 480px) {

    button {
        padding: 6px 15px;
        font-size: 14px;
    }
}
