* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(IMG/fundo-form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

main {
    display: flex;
    justify-content: center;
}

form {
    width: 400px;
    padding: 20px;
    background-color: rgba(153, 149, 149, 0.143);
    filter: drop-shadow(5px 5px 5px #000000);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    color: white;
    border: 1px solid rgba(151, 146, 146, 0.777);
    pointer-events: all;
    margin-top: 16em;
}

.logo img {
    pointer-events: all;
    width: 150px;
    height: 150px;
    border: 5px solid #5b6334;
    background-color: rgba(128, 128, 128, 0.621);
    border-radius: 25px;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

body:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) -5%, rgb(0, 0, 0) 300%);
    height: 100%;
}